To find area of rectangle

In [ ]:
l=int(input('enter the L of rectangle'))
b= int (input ('enter the B of rectangle'))
a=(l*b)
print(a)

enter the L of rectangle3
enter the B of rectangle4
12

To find sum,difference,product and quotient of two numbers

In [ ]:
n1=int(input ('enter N1'))
n2=int(input ('enter N2'))
s=n1+n2
p=n1*n2
d=n1-n2
q=n1/n2
print(s)
print (p)
print (d)
print (q)

enter N14
enter N25
9
20
-1
0.8

To convert temperture

In [ ]:
f=float(input('enter a number'))
c=(f-32)*5/9
print(c)

enter a number24
-4.444444444444445

In [ ]:
c=float(input ('enter the number'))
f=(c*9/5)+32
print(f)

enter the number3
37.4

To check whether a number is +ve or -ve

In [ ]:
num=int(input('enter a number'))
if num>0:
   print ("num is positive")
elif num<0:
  print("num is negative")
else:
  print ('invalid')

enter a number6
num is positive

In [ ]:
y=int (input('enter the year '))
if y%4==0:
  print("It is a leap year")
elif y%4!=0:
  print (' It is not  a leap year')

enter the year 2005
 It is not  a leap year

In [1]:
mark=int(input('enter mark'))
if mark >89:
  print ('A')
elif mark >79:
  print ('B')
elif mark>69:
   print ("C")
elif mark >59:
   print ('D')
elif mark<59:
  print ('E')
else:
  print ('invalid')

enter mark34
E

In [2]:
for num in range(10,0,-1):
  print(num)

10
9
8
7
6
5
4
3
2
1

In [4]:
for i in range (2,22,2):
  print (i)

2
4
6
8
10
12
14
16
18
20

In [6]:
n=int(input('enter the number'))
for i in range (1,11):
  print(n,"*",i,"=",n*1)

enter the number12
12 * 1 = 12
12 * 2 = 12
12 * 3 = 12
12 * 4 = 12
12 * 5 = 12
12 * 6 = 12
12 * 7 = 12
12 * 8 = 12
12 * 9 = 12
12 * 10 = 12